<p id="notice"><%= notice %></p>

<h1>Company Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sharecode</th>
      <th>Strt date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_stocks.each do |company_stock| %>
      <tr>
        <td><%= company_stock.name %></td>
        <td><%= company_stock.sharecode %></td>
        <td><%= company_stock.strt_date %></td>
        <td><%= company_stock.end_date %></td>
        <td><%= link_to 'Show', company_stock %></td>
        <td><%= link_to 'Edit', edit_company_stock_path(company_stock) %></td>
        <td><%= link_to 'Destroy', company_stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company Stock', new_company_stock_path %>
