<p id="notice"><%= notice %></p>

<h1>Company Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sharecode</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_stocks.each do |company_stock| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="name"><%= company_stock.name %></td>
        <td class="sharecode"><%= company_stock.sharecode %></td>
        <td class="actions">
          <ul>
            <li><%= link_to 'Show', company_stock %></li>
            <li><%= link_to 'Edit', edit_company_stock_path(company_stock) %></li>
            <li>
              <%= link_to 'Destroy',
                           company_stock,
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Search More', new_company_stock_path %>



